<form class="main-container" (ngSubmit)="onSaveClick()">

  <mat-form-field>
      <input matInput placeholder="ID" type="text" [disabled]="true" [formControl]="idFormControl" [(ngModel)]="id">
  </mat-form-field>

  <br>

  <mat-form-field>
      <input matInput placeholder="Name" type="text" [formControl]="nameFormControl" required [(ngModel)]="name">
  </mat-form-field>

  <br>

  <mat-form-field>
    <input matInput placeholder="Time created" [formControl]="timeCreatedFormControl" required  [(ngModel)]="time_created" name="time_created">
  </mat-form-field>

  <br>

  <mat-form-field>
      <input matInput placeholder="Car type" type="text" [(ngModel)]="car_type" name="car_type">
  </mat-form-field>

  <br>

  <mat-form-field>
    <input matInput placeholder="Last successful connection" type="text" [(ngModel)]="last_successful_connection" name="last_successful_connection">
  </mat-form-field>

  
  <div class="btns-container">
    <button id="btn-close" color="primary" mat-button (click)="onCloseClick()" type="button">Close</button>
    <button id="btn-save" color="primary" mat-button (click)="onSaveClick()" type="submit">Save</button>
  </div>
</form>
           