/* .example-container {
    margin: auto;
    width: 60%;
    border: 3px solid rgb(26, 18, 138);
    padding: 10px;
  }
  
  .example-container > * {
    width: 100%;
  } */


  form {
    display: flex;
    flex-direction: column;
}

.btns-container {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
}